{#
/**
 * @file
 * Accordion component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - children: array of items.
 *   - #label: string.
 *   - content: raw.
 */
#}

{% spaceless %}
  <div class="accordion js-accordion {{ modifier_class }}"{{ attributes }}>
    {% set accordionID = '#accordion-' ~ random() %}

    {% for child in children %}
      {% set childID = accordionID ~ loop.index %}

      <dl class="accordion__item js-accordion-item {{ loop.first ? 'is-active' : '' }}"
          role="presentation">
        <dt class="accordion__title" role="heading" aria-level="3">
          <button class="accordion__title-button"
                  aria-expanded="{{ loop.first ? 'true' : 'false' }}"
                  aria-controls="{{ childID }}" data-collapse="accordion"
                  type="button">
            {{ child['#paragraph'].get('field_heading').value }}
          </button>
        </dt>

        <dd id="{{ childID[1:] }}" role="region"
            class="accordion__content js-accordion-content">
          {{ child }}
        </dd>
      </dl>
    {% endfor %}
  </div>
{% endspaceless %}
