{#
/**
 * @file
 * Card component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - content: array of items.
 *   - #label: string.
 *   - content: raw.
 */
#}

<div class="tabs js-tabs {{ drupal_class }}"{{ attributes }}>
  {% set tabID = '#tab-' ~ random() %}

  <div class="tabs__nav js-tabs-nav" role="tablist">
    {% for child in children %}
      {% set childID = tabID ~ loop.index %}
      {% set title = child.title ?: child['#paragraph'].get('field_heading').value %}

      <button class="tabs__nav-button js-tabs-nav-button {{ loop.first ? 'is-active' : '' }}" role="tab"
              tabindex="{{ loop.first ? '0' : '-1' }}"
              aria-controls="{{ childID }}"
              aria-selected="{{ loop.first ? 'true' : 'false' }}"
              data-collapse="tab" type="button">
        <span class="tabs__nav-label">
          {{ title }}
        </span>
      </button>
    {% endfor %}
  </div>

  <div class="tabs__content js-tabs-content">
    {% for child in children %}
      {% set childID = tabID ~ loop.index %}
      {% set content = child.content ?: child %}

      <div id="{{ childID[1:] }}"
           class="tabs__body js-tabs-body"
           role="tabpanel" tabindex="0" {{ loop.first ? '' : 'hidden' }}>
        {{ content }}
      </div>
    {% endfor %}
  </div>
</div>
