{#
/**
 * @file
 * Section component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - container_class: string.
 * - children: array of items.
 */
#}

{% spaceless %}
  <div class="section js-section {{ modifier_class }}"{{ attributes }}>
    <div class="section__inner {{ 'section__inner--' ~ container_class  }}">
      {% if container_class != '0' %}
        <div class="{{ container_class }}">
          {{ children }}
        </div>
      {% else %}
        {{ children }}
      {% endif %}
    </div>
  </div>
{% endspaceless %}
