{#
/**
 * @file
 */
#}

{% set modifier_class = ('responsive-media--' ~ responsive_image_style_id)|clean_class %}

{% if output_image_tag %}
  {{ img_element }}
{% else %}
  <div class="responsive-media {{ modifier_class }}">
    {# Placeholder image #}
    <object class="responsive-media__placeholder js-img-placeholder"
            data="{{ img_element['#uri'] }}" type="image/jpeg">
      {{ img_element['#alt'] }}
    </object>

    <picture class="responsive-media__picture">
      {% if sources %}
        {#
        Internet Explorer 9 doesn't recognise source elements that are wrapped in
        picture tags. See http://scottjehl.github.io/picturefill/#ie9
        #}
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        {% for source_attributes in sources %}
          <source{{ source_attributes }}/>
        {% endfor %}
        <!--[if IE 9]></video><![endif]-->
      {% endif %}
      {# The controlling image, with the fallback image in srcset. #}
      {{ img_element }}
    </picture>
  </div>
{% endif %}
