{#
/**
 * @file
 * Card component.
 *
 * Available variables:
 * - attributes: raw.
 * - modifier_class: string.
 * - title: raw.
 * - image: raw.
 * - meta: raw.
 * - teaser: raw.
 * - social_links: array of objects.
 *   - title: string.
 *   - url: string.
 */
#}

{% import '@macro/svg.macro.twig' as svg_macro %}

{% spaceless %}
  <article class="card animated {{ modifier_class }}"{{ attributes }} data-animated="fadeIn">
    {% if image %}
      <div class="card__image">
        {{ image }}
      </div>
    {% endif %}

    <div class="card__content">
      <div class="card__header">
        {% if title %}
          <div class="card__title">
            {{ title }}
          </div>
        {% endif %}

        {% if meta %}
          <div class="card__meta">
            {{ meta }}
          </div>
        {% endif %}
      </div>

      {% if teaser %}
        <div class="card__teaser">
          {{ teaser }}
        </div>
      {% endif %}

      {% if social_links %}
        <ul class="card__social-links">
          {% for item in social_links %}
            <li class="social-link social-link__{{ item.title }}">
              {% set icon %}
                <span class="icon">
                  {{ svg_macro.svg('icon__' ~ item.title) }}
                </span>
                {{ item.title }}
              {% endset %}

              {{ link(icon, item.url, '')|raw }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </article>
{% endspaceless %}
