<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		
		<link rel="stylesheet" href="../../../css/styles.css?{{ cacheBuster }}" media="all" />
		<link rel="stylesheet" href="../../styleguide/css/specific.css?{{ cacheBuster }}" media="all" />

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:500|Open+Sans:400,400i,700" media="all" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" media="all" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->
	</head>
	<body class="{{ bodyClass }}">
